// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well#players{

}

#players-scroll {

	height: 670px;
	overflow: auto;
	padding-down: 10px;

}

.well#feed{

	height: 180px;

}

#feed-scroll{

	height:150px;
	overflow: auto;
	color: gray;
	padding-down:5px

}

.well#roster{
	
}

.well#left-panel{

	height:775px;
}

.label.important#chill{

	width:20px;
	
}

#search {

	width: 200px;
	
}

.loading {
	width: 252px;
	height: 136px;
	background-image: url('ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;

}
