console.log("Inserting new HTML");

$('#roster').empty();
$('#roster').append(' <%=j render :partial => "roster" %>');

$('#feed-scroll').empty()
$('#feed-scroll').prepend('<% @feed.each do |f| %> <p> <span class="feed_team"><%= f[:team] %></span><%= "  picked #{f[:player]} #{f[:position]} #{f[:pro_team]}" %></p> <%end%>');


// Update Players
$('#players-scroll').empty()
$('#players-scroll').append(' <%=j render :partial => "player" %>' )

console.log("Finished inserting HTML");